*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: gray;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}


